.logo{
        font-size: 25px;
            font-family: cursive;
            border: 2px solid green;
            width: fit-content;
            padding: 6px 34px;
            border-radius: 29px;
}